[sourcefile]
xml_source_url = https://registers.esma.europa.eu/solr/esma_registers_firds_files/select?q=*&fq=publication_date:%5B2021-01-17T00:00:00Z+TO+2021-01-19T23:59:59Z%5D&wt=xml&indent=true&start=0&rows=100
#source_url
[download]
download_path = xml_files

[csv]
csv_path = csv_files
#csv_directory

[aws]
bucket_name = gouravkumar631
aws_access_key_id = AKIA46YNI5T6GCBGRRH3
aws_secret_access_key = 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
region_name = "EU (Stockholm) eu-north-1"
